<section>
    <div class="container">
        <div class="box" *ngFor="let Producto of productos">
            <span></span>
            <div class="content">
                <h2>{{Producto.NOMBRE}}</h2>
                <p>{{Producto.DESCRIPCION}}</p>
                <a href="#">Ver Más</a>
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <h2>
        Hola
    </h2>
    <p>
        Ejemplo de un parrafo
    </p>
    <div *ngFor="let Producto of productos">
        <p>{{Producto.DESCRIPCION}}</p>
    </div>
</section> -->